<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" type="imnage/jpg" href="/images/favicon.jpg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <meta name="theme-color" content="black" />
  <title>Gupta Tutorials</title>
  </head>
  <body>
      <center>
          <img src="/images/logo_normal.svg" style="height: 128px;width:128px; margin-top:10px;">
          <h1 style="font-family: 'Lato', sans-serif;font-weight:bold; color:black;"><i style="font-size: 4.2rem; color: rgb(252, 0, 34);" class="material-icons">flight_land</i>404 ! Not Found</h1>
          <a href="/" class="waves-effect waves-light btn" id="continue" style=" background-color: rgb(252, 0, 34); color:#fdfdfd">Back<i class="material-icons right" style="color: white;"><i class="material-icons">keyboard_arrow_left</i></i> </a>
      </center>
  </body>
  </html>